@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

button, input {
  font-family: 'Roboto', sans-serif;
}

.hoverButton {
  transition: color 0.3s ease-in-out;
}
.hoverButton:hover {
  background-color: #008796;
}

.shadowBox {
  box-shadow: rgb(0 0 0 / 30%) 0px 3px 6px 0px;
}